{{/*
{{- $flux := .Values.components.flux -}}
{{- $rbac := .Values.components.rbac -}}
{{- if and $rbac.enabled $flux.enabled -}}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: {{ $flux.namespace }}
  name: {{ printf "%s-%s" (include "platform-tenant.fullname" .) "flux-group-ro" }}
  labels: {{- include "skyfjell.common.chartLabels" $ | nindent 4 }}
subjects:
  - kind: Group
    name: {{ printf "%s-%s" (include "platform-tenant.fullname" .) "deployer" }}
    apiGroup: rbac.authorization.k8s.io
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ printf "%s-%s" (include "platform-tenant.fullname" .) "flux-ro" }}
{{- end -}}
*/}}